	<h1> Rainforest Products </h1>
	<%= link_to "Add a Product", new_product_path %>

	<% @products.each do |product| %>
<p>
	<ul> 
		<li> Name: <%= link_to product[:name], product_path(product) %> </li>
		<li> Description: <%= link_to product[:description], product_path(product) %></li> 
		<li> Price: $<%= link_to product.formatted_price, product_path(product) %> </li>	
	</ul>
</p>
<% end %>